<%= form_for(@page, :url => page_path(:id => @page.title), :html => { :method => :put }) do |f| %>
<p><%= f.text_area :description, :cols => 90, :rows => 25 %></p>
<p><%= f.submit "Update" %></p>
<% end %>
<%= link_to "Назад", :back %>