<div id="footer">
	<p style="font-size: 12px; margin-bottom: 10px;">Copyright © 2010 Мусульманская одежда HIJAB FARD</p>
    <p style=" width: 160px;">125315, г. Москва, ул. Шверника, д. 17, к. 3; ул. Таганская, д. 40, стр. 2 ТЦ «Радуга», 1 павильон.</p>
    <img style="position: relative; float: right; top: -70px;" <%= image_tag "img/ftr_tel.png" %>
</div>